body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

#chat-container {
  display: flex;
  height: 100vh;
}

#chat-records {
  width: 30%;
  background-color: #eaeaea;
  padding: 10px;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

#chat-records h3 {
  font-family: 华文行楷;
  font-size: 2rem;
  margin: 0 ;  /* 去除默认的 margin */
  margin-left: 130px;
  display: flex;
  justify-content: space-between;  /* 让按钮和标题并排显示 */
  align-items: center;  /* 垂直居中 */
}

#new-chat-button {
  width: 100px;
  height: 40px;
  background-color: #4CAF50; /* 绿色 */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px; /* 缩小按钮字体 */
}

#new-chat-button:hover {
  background-color: #45a049; /* 深绿色 */
}

#record-list {
  margin-top: 10px;
  max-height: 80%;
  overflow-y: auto;
}

#chat-window {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column; /* 让新的消息显示在底部 */
}

#input-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#message-input {
  flex: 1;
  padding: 15px; /* 增大输入框的高度 */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; /* 增大字体大小 */
  margin-right: 10px;
}

#send-button {
  background-color: gray; /* 默认灰色 */
  color: white;
  border: none;
  border-radius: 20%; /* 圆形按钮 */
  padding: 15px; /* 增大按钮大小 */
  /* cursor: not-allowed; */
   /* 默认不可点击 */
   cursor: pointer;
  transition: background-color 0.3s ease; /* 背景色变化特效 */
}

#send-button.enabled {
  background-color: #4CAF50; /* 可点击时为绿色 */
  color: white;
  cursor: pointer; /* 可点击 */
}

#send-button #arrow-icon {
  font-size: 20px; /* 调整箭头大小 */
  transform: rotate(90deg); /* 将箭头指向上 */
}

.error-message {
  color: red;
  font-weight: bold;
}

.user-message {
  /* height: 50px; */
  font-family: 宋体;
  font-size: 20px;
  line-height: 50px;
  border-radius: 5px;
  background-color: #e1f5fe; /* User message background */
}

.bot-message {
  /* height: 50px; */
  font-family: 宋体;
  font-size: 20px;
  line-height: 50px;
  border-radius: 5px;
  background-color: #ffe0b2; /* Bot message background */
}

/* 鼠标悬停特效 */
.chat-record {
  cursor: pointer;
  padding: 15px;
  margin: 5px 0;
}

.chat-record.hover {
  background-color: #f0f0f0;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.chat-record:hover {
  background-color: #e0e0e0; /* 悬停时的背景色 */
}
